$dark: #2A3647;
$dark-border: darken($dark, 5%);
$dark-icon: #B9C9C7;

$canvas-background: darken($dark, 2%);

$light: #F5F9F8;
$primary: #504280;
$danger: #FF6565;

$primary-gradient-one: #CE9FFC;
$primary-gradient-two: #7367F0;